.feedback {
    font-weight: bold;
}

.feedback.correct {
    color: green;
}

.feedback.wrong {
    color: red;
}
.selected-quiz {
    border-color: green;
    background-color: green;
    color: white;
    font-weight: 700;
}

button{    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}